# ignore everything inside the folder
/fab-inspector-rules/*

# keep the folder itself
!/fab-inspector-rules/

# optionally keep one placeholder file so Git can keep the empty folder
!/fab-inspector-rules/.keep